.contacto_contenido{
    height: 90vh;
    width: 99vw;
}

.formulario {
    div{
        height: 25%;
        display: flex;
        justify-content: center;
        align-content: space-around;
        margin-left: 5vw;

        input{
            height: 50%;
            width: 50%;
        }

        textarea{
            height: 100%;
            width: 50%;
        }
    }
}

.mapa{
    display: flex;
    justify-content: center;
    align-content: center;
}