.footer{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    width: 100vw;
   }

   .li_logos{
    display: flex;
    justify-content: flex-end;

    li{
        height: 5rem;
        list-style: none;
        text-decoration: none;
        margin-left: 10px;
    }
}

   .logos_footer{
    height: 50px;
    width: 50px;
   }